<html>
    <head>
        <title>PoP - Page Not Found</title>
        <link rel="stylesheet" href="../static/datastyle.css">
    </head>
    <body>
        <div id = 'header'> 
            <h1>Predictor of Passing</h1>
            <nav>
                <ul>
                    <li><a href="/home">Home</a></li>
                    <li><a href="/dp">Deaths Per</a></li>
                    <li><a href="/lc">Leading Cause</a></li>
                    <!-- Not yet implemented -->
                    <!--<li><a href="/wwid">When Will I Die?</a></li>-->
                  </ul> 
            </nav>
        </div>
        
        <div>
            <h2>404 - Page Not Found</h2>
            <div>
                <p>The page you have reqested does not exist. Please click on one of the pages above to get back on track.</p>
                <div>
                    <h3>Error:</h3>
                    <p>{{error}}</p>
                </div>
            </div>
        </div>
    </body>
</html>