<html>
    <head>
        <title>PoP - Page Not Found</title>
        <link rel="stylesheet" href="../static/datastyle.css">
    </head>
    <body>
        <div id = 'header'> 
            <h1>Predictor of Passing</h1>
            <nav>
                <ul>
                    <a href="/wwid">
                        <button class = "button menu_button">When Will I Die? </button>
                    </a>
                    <a href="/home">
                        <button class = "button menu_button">Home </button>
                    </a>
                    <a href="/lc">
                        <button class = "button menu_button">Leading Cause </button>
                    </a>
                    <a href="/dp">
                        <button class= "button menu_button">Deaths Per </button>
                    </a>
                </ul> 
            </nav>
        </div>
        
        <div>
            <h2>404 - Page Not Found</h2>
            <div>
                <h3>Error:</h3>
                <p>{{error}}</p>
            </div>
            <div class = button_holder>
                <a href = "/home">
                    <button class = "button menu_button">Back To Home</button>
                </a>
            </div>
        </div>
    </body>
</html>