<!DOCTYPE html>
<html lang = "en">
    <head>
        <title>Predictor of Passing - About</title>
        <link rel="stylesheet" href="../static/datastyle.css">
        <link rel="icon" type="image/x-icon" href="../favicon.ico">
    </head>
    <body>
        <div id="header"> 
            <h1>Predictor of Passing</h1>
            <nav>
                <ul>
                    <a href="/home">
                        <button class = "button menu_button">Home </button>
                    </a>
                    <a href="/wwid">
                        <button class = "button menu_button">When Will I Die? </button>
                    </a>
                    <a href="/lc">
                        <button class = "button menu_button">Leading Cause </button>
                    </a>
                    <a href="/dp">
                        <button class = "button menu_button">Deaths Per </button>
                    </a>
                    <a id = "on" href="/about">
                        <button class = "button menu_button">About </button>
                    </a>
                </ul> 
            </nav>
        </div>
        
        <div>
            <h2>About our data:</h2>
            <p>This data is taken from the <a id = "hyperlink" href="https://wonder.cdc.gov/controller/datarequest/D76">CDC WONDER database</a>
                and includes deaths between the years of 2016 and 2020.</p>
            
            
            <h3>Citation:</h3>
            <p>
                <li>Date Downloaded: 4/7/22 - 4/11/22</li>
                <li>Authorship: CDC, Centers for Disease Control and Prevention</li>
                <li>Exact name and version: *Personalized dataset from CDC WONDER database</li>
            </p>

            <h3>Terms of use:</h3>
            <p>
                Public Health Service Act (42 U.S.C. 242m(d)) provides that the data collected by the National Center
                for Health Statistics (NCHS) may be used only for the purpose for which they were obtained; any effort to
                determine the identity of any reported cases, or to use the information for any purpose other than for health
                statistical reporting and analysis, is against the law. Therefore users will:
                <li>Use these data for health statistical reporting and analysis only.</li>
                <li>For sub-national geography, do not present or publish death counts of 9 or fewer or death rates based on counts of nine or fewer (in figures, graphs, maps, tables, etc.).</li>
                <li>Make no attempt to learn the identity of any person or establishment included in these data.</li>
                <li>Make no disclosure or other use of the identity of any person or establishment discovered inadvertently and advise the NCHS Confidentiality Officer of any such discovery.</li>
            </p>

            <h3>Disclaimer:</h3>
            <p>
                Our website will not use the data to determine the identity of individuals. We will use this data for
                statistical reporting and analysis, with clear written disclaimers on any predictive, generated and informal
                information.
            </p>
        </div>
        <div>
            <h2>About our team:</h2>
            <p>Our team is made up of Jonas Bartels, Lazuli Kleinhans, Tin Nyugen and Kai Weiner.</p>
        </div>
        <div>
            <h2>Events coming up:</h2>
            <p><b>November 21st 2023 2:00:57am</b> - death by floodwaters.</p>
        </div>
    </body>
</html>
