<!DOCTYPE html>
<html lang = "en">
    <head>
        <title>Predictor of Passing - About</title>
        <link rel="stylesheet" href="../static/datastyle.css">
        <link rel="icon" type="image/x-icon" href="../favicon.ico">
    </head>
    <body>
        <div id="header"> 
            <h1>Predictor of Passing</h1>
            <nav>
                <ul>
                    <a href="/home">
                        <button class = "button menu_button">Home </button>
                    </a>
                    <a href="/wwid">
                        <button class = "button menu_button">When Will I Die? </button>
                    </a>
                    <a href="/lc">
                        <button class = "button menu_button">Leading Cause </button>
                    </a>
                    <a href="/dp">
                        <button class = "button menu_button">Deaths Per </button>
                    </a>
                    <a id = "on" href="/about">
                        <button class = "button menu_button">About </button>
                    </a>
                </ul> 
            </nav>
        </div>
        
        <div>
            <h2>About our data:</h2>
            <p>This data is taken from the <a href="https://wonder.cdc.gov/controller/datarequest/D76">CDC WONDER database</a>
                and includes deaths between the years of 2016 and 2020.</p>
        </div>
    </body>
</html>
