<html>
    <head>
        <title>Predictor of Passing</title>
        <link rel="stylesheet" href="../static/datastyle.css">
    </head>
    <body>
        <div id = 'header'> 
            <h1>Predictor of Passing</h1>
            <nav>
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/dp">Deaths Per</a></li>
                    <li><a href="/lc">Leading Cause</a></li>
                  </ul> 
            </nav>
        </div>

        <div class="fun_facts">
            <h2>Fun Facts</h2>
            <ul>
                <li>The leading cause of death for infants younger than 1 is extreme immaturity with 13,660 deaths.</li>
                <li>For people 100 and up, the leading cause of death is dementia with 16,661 deaths.</li>
                <li>The age group with the most deaths is 88 years old with 399,487 deaths.</li>
            </ul>
        </div>


        <div id = "welcome">
            <h2>Welcome to Predictor of Passing!</h2>
            <p>Navigate to a page to find specific information, or just browse the general information displayed here on the home page!</p>
        </div>

        <div>  
            <h3>General Information</h3>
            <div>
                <div>
                    <h4>Male</h4>
                    <p>The most common cause of death for males is atherosclerotic heart disease, with 463,155 deaths.</p>
                </div>
                <div>
                    <h4>Female</h4>
                    <p>The most common cause of death for females is alzheimer's disease with 406,313 deaths.</p>
                </div>
            </div>
        </div>
    </body>
</html>