<!DOCTYPE html>
<html lang="en"> 
    <head>
        <title>Predictor of Passing</title>
        <link rel="stylesheet" href="../static/datastyle.css">
    </head>
    <body>
        <div id = 'header'> 
            <h1>Predictor of Passing</h1>
            <nav>
                <ul>
                    <li><a href="/home">Home</a></li>
                    <li><a href="/dp">Deaths Per</a></li>
                    <li><a href="/lc">Leading Cause</a></li>
                  </ul> 
            </nav>
        </div>

        <div id = "welcome">
            <div class = 'animate-fadeIn'> 
                <h1> WELCOME TO PREDICTOR OF PASSING</h1>
                
                <h2> Here's a macabre fact: </h2>
                <p> {{fact}}</p>
                <button id = "new_fact"> 
                    <a href = "/home"> click here for another macabre fact</a>
                </button> 
            </div>
        </div>


        <div id = "ux">
            <div class = 'animation-fadeIn'>
                <h2> Want more ways to interact with the death data? </h2>
                <p> There are two ways to find more facts from the death data, use the Navigation bar above to locate: </p>
                <li> LEADING CAUSE: find the leading cause of death based on a gender, age and/or state </li>
                <li> DEATH PER: find the total number of deaths based on a cause, gender, age and/or state </li>    
            </div>
        </div>

    </body>
</html>
