:root{
    /* Main Color Palette */
    --main_color: #005577;
    --main_color_dark:#003b52;
    --main_color_light:#198cba;
    --main_light_color:aliceblue;
    --light_text_color:#f5edaa;
    
    --banner_background_color: var(--main_color);
    --banner_text_color: var(--light_text_color);

    --page_background_color: var(--main_light_color);
    --content_text_color: black;

    --button_background_color: var(--main_color);
    --button_hover_background_color: var(--main_color_light);
    --button_active_background_color: var(--main_color_dark);
}

body {
    margin-left: 5%;
    margin-right: 5%;
    background-color: var(--page_background_color); 
}

h1, h2, h3 {
    font-family: Verdana, Geneva, sans-serif; 
}

#header{
    background-color: var(--banner_background_color);
    border-radius: 8px;
    text-align: center;
    margin-top: 23px;
}

h1 {
    border-radius: 8px;
    padding-top: 1em;
    padding-bottom: .2em;
    background-color: var(--banner_background_color);
    color: var(--banner_text_color);

}

ul {
    list-style-type: none;
    margin: 0;
    overflow: hidden;
    padding: 0;
    font-family: Verdana, Geneva, sans-serif;
    line-height: 1.4;
}
/* Navigation bar list items should render starting at the left margin. */

h2 { 
    border-bottom: 4px double var(--content_text_color);
}

h3 {
    margin-top: 3em;
}

p, label {
    font-family: Arial, Helvetica, sans-serif;
    /* This next line gives us some extra spacing within a paragraph*/
    line-height: 1.4;
}

/* Making the form items be on new lines
    https://stackoverflow.com/questions/10349276/how-to-put-web-form-elements-on-a-new-line#10349338
*/
label{
    display:block;
    text-align:right;
    float:left;
    padding:0 5px 0 0
}

/* Centers buttons */

.button_holder{
    text-align: center;
}

a:link,
a:visited,
a:hover,
a:active{
    text-decoration: none;
}

.button { 
    border: 2px solid var(--button_background_color);
    font-size:100%;
    padding: 1em 1.2em;
    border-radius: 5px;
    text-align: center;
    cursor: pointer;
    transition-duration: 0.5s;
    color: var(--banner_text_color);
    background-color: var(--button_background_color);
}

.button:hover{
    background-color: var(--button_hover_background_color);
}

.button:active{
    background-color: var(--button_active_background_color);
    transition-duration: 0s;
}

#on .menu_button{
    background-color: var(--main_color_dark);
}

textarea, input,select { 
    border: 1px solid var(--button_background_color);
    border-radius: 3px;
    margin: auto;
    color: var(--content_text_color);
    background-color: var(--page_backgroundd_color);
}

#welcome h1 { 
    animation-fill-mode: backwards;
    animation-name: fade_in; 
    animation-duration: 2s;
    color: var(--content_text);
} 

.animate-fadeIn h2{
    animation-fill-mode: backwards;
    animation-name: fade_in; 
    animation-duration: 2s;
    animation-delay: 0.5s;
}

.animate-fadeIn h3, .animate-fadeIn p, .animate-fadeIn button{ 
    animation-fill-mode: backwards;
    animation-name: fade_in;
    animation-duration: 2s; 
    animation-delay: 1s;
}
.animation-fadeIn { 
    animation-fill-mode: backwards;
    animation-name: fade_in;
    animation-duration: 2s; 
    animation-delay: 1.5s;
}

#welcome,
#input_fields{ 
    padding: 8px;
    margin: 25px;
}

#ux { 
    padding: 50px 0px;
    margin: 25px;
    border-bottom: 4px double var(--content_text_color);
}

li{
    font-family: Verdana, Geneva, sans-serif;
    line-height: 1.4;
}